*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  max-width: 100%; }

.product__card {
    border: solid 0.1em #000;
    margin: 2em; }
    .product__card__img {
      max-height: 20em;
      max-width: auto;
      margin: 0.5em;
      align-content: center; }
    .product__card__text {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1em;
      margin: 0.5em; }
    .product__card__name {
      margin: 0.5em;
      text-align: center; }
    .product__card__origen {
      text-align: center; }
    .product__card__buy {
      color: #000  !important;
      border: solid 0.1em !important; }
  
  #add__carrito {
    font-size: 2rem; }
  
  .product__unit {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em; }

    .item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1em;
        flex-wrap: wrap; }

    .title {
        text-align: center;
    }

    .ringLoader {
      padding: 10em;
      display: flex;
      justify-content: center;
    }

        