nav {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em; }
  
  .header__logo {
    display: flex; }
  
  a {
    text-decoration: none;
    color: #ffff; }
    a:hover {
      color: #9b9b9a; }
  
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
    list-style-type: none; }

    .cart {
      display:flex;
      flex-direction: row;
      background-color: #000;
      width: 100%;
      align-items:flex-end;
      justify-content: center;
      padding: 0.3em;
      margin-bottom: 0.1em;
    }

  